# Importation des modules et chargement du dataframe

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("data.csv")

df.info()
df.head()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

# Valeurs a modifier

In [ ]:
df.iloc[35]["movie_title"]

'Monsters University\xa0'

In [ ]:
df["movie_title"] = df["movie_title"].str.replace("\xa0", "").str.strip()

# Doublons

In [ ]:
df.drop_duplicates(subset=["movie_title"], inplace=True)
df.drop_duplicates(inplace=True)
print("shape :", df.shape)

shape : (4916, 28)

# Index sur movie_title

In [ ]:
df.set_index("movie_title", inplace=True)

# Suppression des colonnes inutiles

In [ ]:
df.drop(columns=["color", "facenumber_in_poster", "aspect_ratio"], inplace=True)
print("shape :", df.shape)

shape : (4916, 24)

# Outliers

In [ ]:
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,0.000000
25%,49.000000,93.000000,7.000000,132.000000,607.000000,5.019656e+06,8.361750e+03,1394.750000,64.000000,6.000000e+06,1999.000000,277.000000,5.800000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,159.000000
75%,191.000000,118.000000,189.750000,633.000000,11000.000000,6.110841e+07,9.377275e+04,13616.750000,320.500000,4.300000e+07,2011.000000,912.000000,7.200000,2000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,349000.000000

In [ ]:
df = df[df["duration"] > 60]
print("shape :", df.shape)

shape : (4794, 24)

# Valeurs manquantes

## Colonnes numériques

In [ ]:
numeric_cols = df.select_dtypes(include=["float64", "int64"])
null_num = numeric_cols.isnull().sum()      #  Cette ligne calcule le nombre de valeurs nulles dans chacune des colonnes numériques du DataFrame
null_num[null_num != 0]                     #  ne conserver que les colonnes ayant au moins une valeur nulle

num_critic_for_reviews      37
director_facebook_likes     11
actor_3_facebook_likes      17
actor_1_facebook_likes       7
gross                      750
num_user_for_reviews        13
budget                     388
title_year                  13
actor_2_facebook_likes      10
dtype: int64

In [ ]:
df["gross_filled_with_median"] = False
df.loc[df["gross"].isnull(), "gross_filled_with_median"] = True

df["budget_filled_with_median"] = False
df.loc[df["budget"].isnull(), "budget_filled_with_median"] = True

<ipython-input-100-71776a7bcb79>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["gross_filled_with_median"] = False
<ipython-input-100-71776a7bcb79>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["budget_filled_with_median"] = False

In [ ]:
df.fillna({
    "num_critic_for_reviews": 0,
    "director_facebook_likes": 0,
    "actor_3_facebook_likes": 0,
    "actor_1_facebook_likes": 0,
    "gross": df["gross"].median(),
    "num_user_for_reviews": 0,
    "budget": df["budget"].median(),
    "actor_2_facebook_likes": 0
}, inplace=True)

<ipython-input-101-788fc371c3b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna({

In [ ]:
movies_with_null_title_year = ['A Touch of Frost',
                               'Outlander',
                               'Trapped',
                               'Carlos',
                               'The Company',
                               'Towering Inferno',
                               'Del 1 - Män som hatar kvinnor',
                               'Wuthering Heights',
                               'Emma',
                               'Anne of Green Gables',
                               'Deadline Gallipoli',
                               'Creature',
                               'The Streets of San Francisco']

df.loc[df["title_year"].isnull(), "movie_imdb_link"]

movie_title
A Touch of Frost                 http://www.imdb.com/title/tt0108967/?ref_=fn_t...
Outlander                        http://www.imdb.com/title/tt3006802/?ref_=fn_t...
Trapped                          http://www.imdb.com/title/tt3561180/?ref_=fn_t...
Carlos                           http://www.imdb.com/title/tt1321865/?ref_=fn_t...
The Company                      http://www.imdb.com/title/tt0488352/?ref_=fn_t...
Towering Inferno                 http://www.imdb.com/title/tt0691996/?ref_=fn_t...
Del 1 - Män som hatar kvinnor    http://www.imdb.com/title/tt1639008/?ref_=fn_t...
Wuthering Heights                http://www.imdb.com/title/tt1238834/?ref_=fn_t...
Emma                             http://www.imdb.com/title/tt1366312/?ref_=fn_t...
Anne of Green Gables             http://www.imdb.com/title/tt0088727/?ref_=fn_t...
Deadline Gallipoli               http://www.imdb.com/title/tt3458030/?ref_=fn_t...
Creature                         http://www.imdb.com/title/tt0156205/?ref_=fn_t...
The Streets of San Francisco     http://www.imdb.com/title/tt0068135/?ref_=fn_t...
Name: movie_imdb_link, dtype: object

In [ ]:
df.loc["A Touch of Frost", "title_year"] = 1992
df.loc["Outlander", "title_year"] = 2014
df.loc["Trapped", "title_year"] = 2015
df.loc["Carlos", "title_year"] = 2010
df.loc["The Company", "title_year"] = 2007
df.loc["Towering Inferno", "title_year"] = 1982
df.loc["Del 1 - Män som hatar kvinnor", "title_year"] = 2019
df.loc["Wuthering Heights", "title_year"] = 2009
df.loc["Emma", "title_year"] = 2009
df.loc["Anne of Green Gables", "title_year"] = 1985
df.loc["Deadline Gallipoli", "title_year"] = 2015
df.loc["Creature", "title_year"] = 1998
df.loc["The Streets of San Francisco", "title_year"] = 1972

In [ ]:
numeric_cols = df.select_dtypes(include=["float64", "int64"])
numeric_cols.isnull().sum()

num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_1_facebook_likes       0
gross                        0
num_voted_users              0
cast_total_facebook_likes    0
num_user_for_reviews         0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
movie_facebook_likes         0
dtype: int64

## Colonnes textuelles

In [ ]:
textual_cols = df.select_dtypes(include=["object"])
null_obj = textual_cols.isnull().sum()
null_obj[null_obj != 0]

director_name      11
actor_2_name       10
actor_1_name        7
actor_3_name       17
plot_keywords     133
language            8
country             1
content_rating    247
dtype: int64

### plot_keywords et content_rating

In [ ]:
df.fillna({
    "plot_keywords": "",
    "content_rating": "Unknown"
}, inplace=True)

<ipython-input-106-76b2b89b632f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna({

### director_name

In [ ]:
df.loc[df["director_name"].isnull(), "movie_imdb_link"]

movie_title
A Touch of Frost                http://www.imdb.com/title/tt0108967/?ref_=fn_t...
Outlander                       http://www.imdb.com/title/tt3006802/?ref_=fn_t...
Trapped                         http://www.imdb.com/title/tt3561180/?ref_=fn_t...
Carlos                          http://www.imdb.com/title/tt1321865/?ref_=fn_t...
The Company                     http://www.imdb.com/title/tt0488352/?ref_=fn_t...
Wuthering Heights               http://www.imdb.com/title/tt1238834/?ref_=fn_t...
Emma                            http://www.imdb.com/title/tt1366312/?ref_=fn_t...
Anne of Green Gables            http://www.imdb.com/title/tt0088727/?ref_=fn_t...
Deadline Gallipoli              http://www.imdb.com/title/tt3458030/?ref_=fn_t...
Creature                        http://www.imdb.com/title/tt0156205/?ref_=fn_t...
The Streets of San Francisco    http://www.imdb.com/title/tt0068135/?ref_=fn_t...
Name: movie_imdb_link, dtype: object

In [ ]:
"""Les lignes commentées contiennent plusieurs réalisateurs"""
# df.loc["A Touch of Frost", "director_name"] =
# df.loc["Outlander", "director_name"] =
# df.loc["Trapped", "director_name"] =

df.loc["Carlos", "director_name"] = "Olivier Assayas"
df.loc["The Company", "director_name"] = "Mikael Salomon"
df.loc["Wuthering Heights", "director_name"] = "Coky Giedroyc"
df.loc["Emma", "director_name"] = "Jim O'Hanlon"
df.loc["Anne of Green Gables", "director_name"] = "Kevin Sullivan"
df.loc["Deadline Gallipoli", "director_name"] = "Michael Rymer"
df.loc["Creature", "director_name"] = "Stuart Gillard"

# df.loc["The Streets of San Francisco", "director_name"] =

In [ ]:
df["director_name"].fillna("", inplace=True)

<ipython-input-109-08ab7de035d4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["director_name"].fillna("", inplace=True)

### actor_2_name

In [ ]:
df.loc[df["actor_2_name"].isnull(), "movie_imdb_link"]

movie_title
All Is Lost                http://www.imdb.com/title/tt2017038/?ref_=fn_t...
Pink Ribbons, Inc.         http://www.imdb.com/title/tt2035599/?ref_=fn_t...
Sex with Strangers         http://www.imdb.com/title/tt0304692/?ref_=fn_t...
The Harvest/La Cosecha     http://www.imdb.com/title/tt1981703/?ref_=fn_t...
Censored Voices            http://www.imdb.com/title/tt3457376/?ref_=fn_t...
Ayurveda: Art of Being     http://www.imdb.com/title/tt0221809/?ref_=fn_t...
The Brain That Sings       http://www.imdb.com/title/tt2638024/?ref_=fn_t...
The Blood of My Brother    http://www.imdb.com/title/tt0488873/?ref_=fn_t...
Counting                   http://www.imdb.com/title/tt4462082/?ref_=fn_t...
Bending Steel              http://www.imdb.com/title/tt2181837/?ref_=fn_t...
Name: movie_imdb_link, dtype: object

In [ ]:
# df.loc["All Is Lost", "actor_2_name"] =
# df.loc["Pink Ribbons, Inc.", "actor_2_name"] =
# df.loc["Sex with Strangers", "actor_2_name"] =
# df.loc["The Harvest/La Cosecha", "actor_2_name"] =
# df.loc["Censored Voices", "actor_2_name"] =
df.loc["Ayurveda: Art of Being", "actor_2_name"] = "Vaidya Narayan"
# df.loc["The Brain That Sings", "actor_2_name"] =
# df.loc["The Blood of My Brother", "actor_2_name"] =
# df.loc["Counting", "actor_2_name"] =
df.loc["Bending Steel", "actor_2_name"] = "Christian Rider"

In [ ]:
df["actor_2_name"].fillna("", inplace=True)

<ipython-input-112-a1c0324e429d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["actor_2_name"].fillna("", inplace=True)

### actor_1_name

In [ ]:
df.loc[df["actor_1_name"].isnull(), "movie_imdb_link"]

movie_title
Pink Ribbons, Inc.         http://www.imdb.com/title/tt2035599/?ref_=fn_t...
Sex with Strangers         http://www.imdb.com/title/tt0304692/?ref_=fn_t...
The Harvest/La Cosecha     http://www.imdb.com/title/tt1981703/?ref_=fn_t...
Ayurveda: Art of Being     http://www.imdb.com/title/tt0221809/?ref_=fn_t...
The Brain That Sings       http://www.imdb.com/title/tt2638024/?ref_=fn_t...
The Blood of My Brother    http://www.imdb.com/title/tt0488873/?ref_=fn_t...
Counting                   http://www.imdb.com/title/tt4462082/?ref_=fn_t...
Name: movie_imdb_link, dtype: object

In [ ]:
df.loc["Pink Ribbons, Inc.", "actor_1_name"] = "Robert Redford"
# df.loc["Sex with Strangers", "actor_1_name"] =
df.loc["The Harvest/La Cosecha", "actor_1_name"] = "Perla Sanchez"
df.loc["Ayurveda: Art of Being", "actor_1_name"] = "Nicolos Kostopoulos"
# df.loc["The Brain That Sings", "actor_1_name"] =
# df.loc["The Blood of My Brother", "actor_1_name"] =
# df.loc["Counting", "actor_1_name"] =

In [ ]:
df["actor_1_name"].fillna("", inplace=True)

<ipython-input-115-9348760584f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["actor_1_name"].fillna("", inplace=True)

### actor_3_name

In [ ]:
df.loc[df["actor_3_name"].isnull(), "movie_imdb_link"]

movie_title
Winged Migration                http://www.imdb.com/title/tt0301727/?ref_=fn_t...
All Is Lost                     http://www.imdb.com/title/tt2017038/?ref_=fn_t...
Gerry                           http://www.imdb.com/title/tt0302674/?ref_=fn_t...
Fantasia                        http://www.imdb.com/title/tt0032455/?ref_=fn_t...
The Streets of San Francisco    http://www.imdb.com/title/tt0068135/?ref_=fn_t...
Pink Ribbons, Inc.              http://www.imdb.com/title/tt2035599/?ref_=fn_t...
Sex with Strangers              http://www.imdb.com/title/tt0304692/?ref_=fn_t...
An Inconvenient Truth           http://www.imdb.com/title/tt0497116/?ref_=fn_t...
The Harvest/La Cosecha          http://www.imdb.com/title/tt1981703/?ref_=fn_t...
Censored Voices                 http://www.imdb.com/title/tt3457376/?ref_=fn_t...
Sisters in Law                  http://www.imdb.com/title/tt0474361/?ref_=fn_t...
Ayurveda: Art of Being          http://www.imdb.com/title/tt0221809/?ref_=fn_t...
The Brain That Sings            http://www.imdb.com/title/tt2638024/?ref_=fn_t...
The Blood of My Brother         http://www.imdb.com/title/tt0488873/?ref_=fn_t...
Counting                        http://www.imdb.com/title/tt4462082/?ref_=fn_t...
Bending Steel                   http://www.imdb.com/title/tt2181837/?ref_=fn_t...
Pink Narcissus                  http://www.imdb.com/title/tt0067580/?ref_=fn_t...
Name: movie_imdb_link, dtype: object

In [ ]:
# df.loc["Winged Migration", "actor_3_name"] =
# df.loc["All Is Lost", "actor_3_name"] =
# df.loc["Gerry", "actor_3_name"] =
# df.loc["Fantasia", "actor_3_name"] = "The Philadelphia Orchestra" (c'est un orchestre, pas un acteur !)
df.loc["The Streets of San Francisco", "actor_3_name"] = "Reuben Collins"
# df.loc["Pink Ribbons, Inc.", "actor_3_name"] =
# df.loc["Sex with Strangers", "actor_3_name"] =
df.loc["An Inconvenient Truth", "actor_3_name"] = "George Bush"
# df.loc["The Harvest/La Cosecha", "actor_3_name"] =
# df.loc["Censored Voices", "actor_3_name"] =
# df.loc["Sisters in Law", "actor_3_name"] =
df.loc["Ayurveda: Art of Being", "actor_3_name"] = "Brahmanand Swamigal"
# df.loc["The Brain That Sings", "actor_3_name"] =
# df.loc["The Blood of My Brother", "actor_3_name"] =
# df.loc["Counting", "actor_3_name"] =
# df.loc["Bending Steel", "actor_3_name"] =
df.loc["Pink Narcissus", "actor_3_name"] = "Charles Ludlam"

In [ ]:
df["actor_3_name"].fillna("", inplace=True)

<ipython-input-118-c493293bbcf9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["actor_3_name"].fillna("", inplace=True)

### language

In [ ]:
df.loc[df["language"].isnull(), "movie_imdb_link"]

movie_title
September Dawn                                      http://www.imdb.com/title/tt0473700/?ref_=fn_t...
Silent Movie                                        http://www.imdb.com/title/tt0075222/?ref_=fn_t...
Love's Abiding Joy                                  http://www.imdb.com/title/tt0785025/?ref_=fn_t...
Kickboxer: Vengeance                                http://www.imdb.com/title/tt3082898/?ref_=fn_t...
A Fine Step                                         http://www.imdb.com/title/tt1604100/?ref_=fn_t...
Intolerance: Love's Struggle Throughout the Ages    http://www.imdb.com/title/tt0006864/?ref_=fn_t...
The Big Parade                                      http://www.imdb.com/title/tt0015624/?ref_=fn_t...
Over the Hill to the Poorhouse                      http://www.imdb.com/title/tt0011549/?ref_=fn_t...
Name: movie_imdb_link, dtype: object

In [ ]:
df.loc["September Dawn", "language"] = "English"
df.loc["Silent Movie", "language"] = "English"
df.loc["Love's Abiding Joy", "language"] = "English"
df.loc["Kickboxer: Vengeance", "language"] = "English"
df.loc["A Fine Step", "language"] = "English"
df.loc["Intolerance: Love's Struggle Throughout the Ages", "language"] = "English"
df.loc["The Big Parade", "language"] = "English"
df.loc["Over the Hill to the Poorhouse", "language"] = "English"

### country

In [ ]:
df.loc[df["country"].isnull(), "movie_imdb_link"]

movie_title
Dawn Patrol    http://www.imdb.com/title/tt2073661/?ref_=fn_t...
Name: movie_imdb_link, dtype: object

In [ ]:
df.loc["Dawn Patrol", "country"] = "Venezuela"

### Verification

In [ ]:
textual_cols = df.select_dtypes(include=["object"])
textual_cols.isnull().sum()

director_name      0
actor_2_name       0
genres             0
actor_1_name       0
actor_3_name       0
plot_keywords      0
movie_imdb_link    0
language           0
country            0
content_rating     0
dtype: int64

## Verification

In [ ]:
df.isnull().sum()

director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
movie_facebook_likes         0
gross_filled_with_median     0
budget_filled_with_median    0
dtype: int64

# Ajouter une colonne age_category qui correspond a child, teenager ou adult

In [ ]:
def categorize_age(content_rating):
    if content_rating in ["G", "TV-G", "Passed", "Approved", "GP"]:
        return "child"
    elif content_rating in ["TV-PG", "PG-13", "PG", "TV-14"]:
        return "teenager"
    elif content_rating in ["NC-17", "X", "M", "R", "TV-MA"]:
        return "adult"
    else:
        return "unknown"

df["age_category"] = df["content_rating"].apply(categorize_age)
df[["content_rating", "age_category"]]

<ipython-input-125-5935b28086d4>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["age_category"] = df["content_rating"].apply(categorize_age)

                                         content_rating age_category
movie_title
Avatar                                            PG-13     teenager
Pirates of the Caribbean: At World's End          PG-13     teenager
Spectre                                           PG-13     teenager
The Dark Knight Rises                             PG-13     teenager
John Carter                                       PG-13     teenager
...                                                 ...          ...
Newlyweds                                     Not Rated      unknown
Signed Sealed Delivered                         Unknown      unknown
A Plague So Pleasant                            Unknown      unknown
Shanghai Calling                                  PG-13     teenager
My Date with Drew                                    PG     teenager

[4794 rows x 2 columns]

# Sauvegarde du fichier CSV nettoyé

In [ ]:
df.to_csv("cleaned_data.csv")

In [ ]:
df[df.index.str.contains("Spider-Man")]
df

,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,movie_facebook_likes,gross_filled_with_median,budget_filled_with_median,age_category
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,33000,False,False,teenager
Pirates of the Caribbean: At World's End,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,...,USA,PG-13,300000000.0,2007.0,5000.0,7.1,0,False,False,teenager
Spectre,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,...,UK,PG-13,245000000.0,2015.0,393.0,6.8,85000,False,False,teenager
The Dark Knight Rises,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,...,USA,PG-13,250000000.0,2012.0,23000.0,8.5,164000,False,False,teenager
John Carter,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,...,USA,PG-13,263700000.0,2012.0,632.0,6.6,24000,False,False,teenager
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Newlyweds,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,Kerry Bishé,...,USA,Not Rated,9000.0,2011.0,205.0,6.4,413,False,False,unknown
Signed Sealed Delivered,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,25105552.5,Comedy|Drama,Eric Mabius,...,Canada,Unknown,20000000.0,2013.0,470.0,7.7,84,True,True,unknown
A Plague So Pleasant,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,25105552.5,Drama|Horror|Thriller,Eva Boehnke,...,USA,Unknown,1400.0,2013.0,0.0,6.3,16,True,False,unknown
Shanghai Calling,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,Alan Ruck,...,USA,PG-13,20000000.0,2012.0,719.0,6.3,660,False,True,teenager
My Date with Drew,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,John August,...,USA,PG,1100.0,2004.0,23.0,6.6,456,False,False,teenager